#clients {

  padding: 50px 0;
  position: relative;

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }

}

.clients-slider{
  width: 100%;
  position: relative;
  padding-bottom: 300px;


  .client-unit{
    max-width: 750px;
    margin: 0 0 0 -375px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    display:flex;
    opacity: 0;

    transition: all 0.5s ease-in-out;


    &.current-unit{
      opacity: 1;
    }

    .client-icon{
      min-width: 300px;
      text-align: center;

      img{
        max-width: 100px;
        border-radius: 50%;
      }

      .client-name{
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
      }

      .client-title{
        font-style: normal;
        font-size: 12px;
        color: #999;
      }


    }

    .client-opinion{
      font-size: 16px;
      line-height: 36px;
      margin-top: -10px;
      position: relative;

      img{
        position: absolute;

        z-index: -1;
        opacity: 0.4;
      }

      .quotes-left{
        top: -25px;
        left: -15px;
      }

      .quotes-right{
        bottom: -30px;
        right: 15px;
      }

    } //end of .client-option

  } //end of .client-unit

} //end of .client-slider


.client-arrows{

  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;

  div{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
  }
  .client-arrow-next{
    right: 10px;
    cursor: pointer;
    z-index: 2;
  }


  .client-arrow-prev{
    left: 10px;
    cursor: pointer;
    z-index: 2;
  }

}


.clients-mobile-nav{
  text-align: center;
  padding-bottom: 60px;
  display: none;

  span{
    cursor: pointer;
    display: inline-block;
    @include evenSize(16px);
    border-radius: 50%;
    border: solid 2px #999;
    margin: 0 10px;
    z-index: 5;

    &.current-unit{
      border-color: rgb(13, 170, 134)
    }

  }
}




@media screen and (max-width: 800px){

  .client-arrows{
    display: none;
  }

  .clients-mobile-nav{
    display: block;
  }



  .clients-slider{
    padding-bottom: 500px;

    .client-unit{
      display:block;
      //position: relative;
      margin-left: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-width: 500px;


      .client-icon{
        margin-bottom: 20px;
      }

      .client-opinion{
        padding: 0 30px;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;

        img{
          @include evenSize(50px);
        }

        .quotes-left{
          top: -15px;
          left: 20px;
        }

        .quotes-right{
          right: 35px;
          bottom: -20px;
        }
      }

    }

  }







}