footer{
  background-color: #1a1a1a;
}

.footer-wrap{
  height: 110px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrap p{
  font-size: 13px;
  color: darkgray;
}
//
//.social{
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.social a{
//  font-size: 40px;
//}
//
//.fa-facebook-square{
//  color: #3b5998;
//  font-size: 20px;
//  padding: 15px;
//}
//
//.fa-facebook-square:hover{
//  color: #32457b;
//}
//
//
//.fa-twitter{
//  color: #00aced;
//  font-size: 20px;
//  padding: 10px;
//}
//
//.fa-twitter:hover{
//  color: #0080ab;
//}
//
//.fa-youtube-play{
//  color: #bb0000;
//  font-size: 20px;
//  padding: 10px;
//}
//
//.fa-youtube-play:hover{
//  color: #870000;
//}
//
//
//.fa-google{
//  color: #dd4b39;
//  font-size: 20px;
//  padding: 10px;
//}
//
//.fa-google:hover{
//  color: #a13b2c;
//}
//
//
//.fa-instagram{
//  color: #bc2a8d;
//  font-size: 20px;
//  padding: 10px;
//}
//
//.fa-instagram:hover{
//  color: #972670;
//}

