.w-gallery{
  display: none;
}

#gallery{
  height: 100vh;
  width: 100%;
  background-color: ghostwhite;
}

#gallery h2{
  font-size: 25px;
  text-align: center;
  padding: 70px 0 25px 0;
}

.g-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.g-img {
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.g-img:first-child{
  background-image: url("../img/gallery/1.jpg");
  background-size: cover;
}

.g-img:nth-child(2){
  background-image: url("../img/gallery/2.jpg");
  background-size: cover;
}

.g-img:nth-child(3){
  background-image: url("../img/gallery/3.jpg");
  background-size: cover;
}

.g-img:nth-child(4){
  background-image: url("../img/gallery/4.jpg");
  background-size: cover;
}

.g-img:nth-child(5){
  background-image: url("../img/gallery/5.jpg");
  background-size: cover;
}

.g-img:nth-child(6){
  background-image: url("../img/gallery/6.jpg");
  background-size: cover;
}

.g-img:nth-child(7){
  background-image: url("../img/gallery/7.jpg");
  background-size: cover;
}

.g-img:nth-child(8){
  background-image: url("../img/gallery/8.jpg");
  background-size: cover;
}

.g-img:nth-child(9){
  background-image: url("../img/gallery/9.jpg");
  background-size: cover;
}

.g-img:nth-child(10){
  background-image: url("../img/gallery/10.jpg");
  background-size: cover;
}

.g-img:nth-child(11){
  background-image: url("../img/gallery/11.jpg");
  background-size: cover;
}

.g-img:nth-child(12){
  background-image: url("../img/gallery/12.jpg");
  background-size: cover;
}

.img-focus{
  width: 100%;
  height: 300px;
}

.modal-gallery {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(212, 207, 186, 0.5);
}

.modal-gallery-content {
  width: 0;
  height: 0;
  background: center;
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}

.modal-gallery-content.gallery_shown {
  opacity: 1;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
}

@media(min-width: 600px){

  #gallery{
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: ghostwhite;
  }

  #gallery h2{
    font-size: 25px;
    text-align: center;
    padding: 70px 0 25px 0;
  }

  .g-wrap{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .g-img {
    background-color: #1a1a1a;
    width: 350px;
    height: 350px;
    margin: 5px;
  }

  .g-img:first-child{
    background-image: url("../img/gallery/1.jpg");
    background-size: cover;
  }

  .g-img:nth-child(2){
    background-image: url("../img/gallery/2.jpg");
    background-size: cover;
  }

  .g-img:nth-child(3){
    background-image: url("../img/gallery/3.jpg");
    background-size: cover;
  }

  .g-img:nth-child(4){
    background-image: url("../img/gallery/4.jpg");
    background-size: cover;
  }

  .g-img:nth-child(5){
    background-image: url("../img/gallery/5.jpg");
    background-size: cover;
  }

  .g-img:nth-child(6){
    background-image: url("../img/gallery/6.jpg");
    background-size: cover;
  }

  .g-img:nth-child(7){
    background-image: url("../img/gallery/7.jpg");
    background-size: cover;
  }

  .g-img:nth-child(8){
    background-image: url("../img/gallery/8.jpg");
    background-size: cover;
  }

  .g-img:nth-child(9){
    background-image: url("../img/gallery/9.jpg");
    background-size: cover;
  }

  .g-img:nth-child(10){
    background-image: url("../img/gallery/10.jpg");
    background-size: cover;
  }

  .g-img:nth-child(11){
    background-image: url("../img/gallery/11.jpg");
    background-size: cover;
  }

  .g-img:nth-child(12){
    background-image: url("../img/gallery/12.jpg");
    background-size: cover;
  }

  .g-img:nth-child(13){
    background-color: #24baa0;
  }

  .g-img:nth-child(14){
    background-color: #4d004d;
  }

  .g-img:nth-child(15){
    background-color: #e92121;
  }

  .img-focus{
    width: 100%;
    height: 300px;
  }

  .modal-gallery {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(212, 207, 186, 0.5);
  }

  .modal-gallery-content {
    width: 0;
    height: 0;
    background: center;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
  }

  .modal-gallery-content.gallery_shown {
    opacity: 1;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
  }



}