

.picture{
  width: 100%;
  height: 100vh;
  background-image: url("../img/temp1.jpg");
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.picture img{
  width: 350px;
  height: 370px;


}

