@import "mixins";
@import "nav";
@import "header";
@import "projects";
@import "contact";
@import "footer";
@import "about";
@import "notes";






*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Monda', sans-serif;
}

.main-width{
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px){

  .main-width{
    width: 100vw;
  }
}


