@import "mixins";
@import "nav";
@import "header";
@import "projects";
@import "contact";
@import "footer";
@import "about";






*{
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  text-decoration: none;
  font-family: 'Monda', sans-serif;
}

.main-width{
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px){

  .main-width{
    width: 100vw;
  }
}


